body{
    background: #3C8E6A ;
    padding-top: 25vh;
    background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
}

form{
    background: #BED9CD;
}

.form-container
{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0ox 0px 10px 0px;
}

.bg
{
    width: 110px;
    height: 110px;
    position: static;
    top: -50px;
    left: 140px;
}

